body {
    background-color: #f4f3ef;
    margin-top: 0px;
}

#myCanvas {
    background-color: white;
    border: 4px outset;
}

.custom-button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    color: black;

}

.custom-button:hover{
    background-color: white;
}

.custom-button i{
    margin-right: 10px;
}

.done-button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #6bbfbf;
    color: white;
}

.done-button:hover{
    background-color: #7dd5d5;
}