body{
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    height: calc(100vh - 75px);
    overflow-x: scroll;
}

li a i, li a p{
    display: inline-block;
}

#letter-drowing{
    width: 15%;
    margin: 2% 0;
    background-color: transparent;

}

#canvas{
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

#question-container{
    width: 70%;
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: .5rem;
    box-shadow: 0 0 0.625rem -0.125rem #D6DEE6;
    background-color: white;
}

#resources{
    width: 70%;
    display: inline-block;
    margin-left: 15%;
    margin-right: 4%;
    margin-top: 20px;
    border-radius: .5rem;
    box-shadow: 0 0 0.625rem -0.125rem #D6DEE6;
    background-color: white;
}

.arrows{
    width: 10%;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 250px;
    color: darkgrey;
}
.arrows:hover{
    color: #8d8d8d;
}


#letter-drowing span i{
    font-size: 25px;
    color: darkgrey;
    transition: 0.70s;
    margin: 2% 0;
}

#letter-drowing span i:hover{
    color: #8d8d8d;
    transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#last-row-buttons button, span{
    margin-right: 10px;
    cursor: pointer;
}

#last-row-buttons span i{
    font-size: 25px;
    color: darkgrey;
    transition: 0.70s;
    margin: 2% 0;
}

#last-row-buttons span i:hover{
    color: #8d8d8d;
}

.custom-progress-bar{
    margin: 3% 5%;
}

#myCanvas{
    border: solid;
    border-color: #5bc0de;
    border-radius: .5rem;
    border-width: 1px;
}

#last-row-buttons{
    padding: 3% 0;
}

.progress-bar{
    background-color: #3FBABA;
}
