#wrapper{
    height: calc(100vh - 75px);
    overflow-x: scroll;
}

li a i, li a p{
    display: inline-block;
}

#canvas-container{
    height: 650px
}

#letter-drowing{
    background-color: transparent;
    width: 15%;
}

#canvas{
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
}

.arrows{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 300px;
}


