body {
  overflow: hidden !important;
}
.sidebar .sidebar-wrapper{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    background-color: #6bbfbf;
}

div.sidebar-wrapper div.logo a.simple-text{
    color: white !important;
}

div.sidebar-wrapper ul.nav li a p{
    color: white;
    font-size:16px;
}
div.sidebar-wrapper ul.nav li a i{
    color: white;
    font-size:20px;
}

.sidebar-wrapper .nav>li:hover{
    background-color: #83dddd;
}

div nav #mainNavBar ul.nav.navbar-right li :hover{
    color:black;
}

@media (max-width: 992px) {
    .navbar .container-fluid{
        background-color: white;
    }
    div.sidebar-wrapper ul.nav li a p{
        font-size: 14px;
        margin-top: 7px;
        margin-right: 10px;
        line-height: 26px;
        color:#006060;
    }

    div.sidebar-wrapper ul.nav li a i{
        font-size: 18px;
        margin-top: 7px;
        margin-right: 10px;
        line-height: 26px;
        color:#006060;
    }

    i{
        color: #006060;
    }

    li:not(.active) > a, .off-canvas-sidebar[data-background-color="white"] .nav li:not(.active) > a {
    color:#006060;
    font-size: 16px;
    font-weight: 600;
    }

    .sidebar-wrapper .nav>li:hover{
    background-color: transparent;
}

}

