body,
html {
    background-image: url(../img/bgstart.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

navbar-transparent {
    background: none;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    margin: 0 auto 10px;
    display: block;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.register-panel{
    width: 50%;
    margin: auto;
}
@media (max-width: 700px){
    .register-panel{
        width: 80%;
    }
}
@media (min-width: 1000px ){
    .register-panel{
        width: 30%;
    }
}